.cid-u76D6GfvJg  {
    z-index: 1000;
    width: 100%;
    position: relative;
  }
  .cid-u76D6GfvJg  .dropdown-item:before {
    font-family: Moririse2 !important;
    content: "\e966";
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    transform: scale(0, 1);
    transition: all 0.25s ease-in-out;
  }
  @media (max-width: 767px) {
    .cid-u76D6GfvJg  .navbar-toggler {
      transform: scale(0.8);
    }
  }
  .cid-u76D6GfvJg  .navbar-brand {
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
  }
  .cid-u76D6GfvJg  .navbar-brand img {
    max-width: 100%;
    max-height: 100%;
  }
  .cid-u76D6GfvJg  .navbar-brand .navbar-caption {
    line-height: inherit !important;
  }
  .cid-u76D6GfvJg  .navbar-brand .navbar-logo a {
    outline: none;
  }
  .cid-u76D6GfvJg  .navbar-nav {
    margin: auto;
    margin-left: 0;
    margin-left: auto;
  }
  .cid-u76D6GfvJg  .navbar-nav .nav-item {
    padding: 0 !important;
    transition: 0.3s all !important;
  }
  .cid-u76D6GfvJg  .navbar-nav .nav-item .nav-link {
    padding: 16px !important;
    margin: 0 !important;
    border-radius: 1rem !important;
    transition: 0.3s all !important;
  }
  .cid-u76D6GfvJg  .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-u76D6GfvJg  .navbar-nav .open .nav-link::after {
    transform: rotate(180deg);
  }
  @media (min-width: 992px) {
    .cid-u76D6GfvJg  .navbar-nav .open .nav-link::before {
      content: "";
      width: 100%;
      height: 20px;
      top: 100%;
      background: transparent;
      position: absolute;
    }
  }
  .cid-u76D6GfvJg  .navbar-nav .dropdown-item {
    padding: 12px !important;
    border-radius: 0.5rem !important;
    margin: 0 8px !important;
    transition: 0.3s all !important;
  }
  .cid-u76D6GfvJg  .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  @media (min-width: 992px) {
    .cid-u76D6GfvJg  .navbar-nav {
      padding-left: 1.5rem;
    }
  }
  .cid-u76D6GfvJg  .nav-link {
    width: fit-content;
    position: relative;
  }
  .cid-u76D6GfvJg  .navbar-logo {
    margin: 0 !important;
  }
  @media (max-width: 767px) {
    .cid-u76D6GfvJg  .navbar-logo {
      padding-left: 0;
    }
  }
  .cid-u76D6GfvJg  .navbar-caption {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
  @media (max-width: 767px) {
    .cid-u76D6GfvJg  .nav-dropdown {
      padding-bottom: 0.5rem;
    }
  }
  .cid-u76D6GfvJg  .nav-dropdown .link.dropdown-toggle::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    transition: 0.3s all;
  }
  .cid-u76D6GfvJg  .container {
    display: flex;
    height: 90px;
    padding: 0.5rem 0.6rem;
    flex-wrap: nowrap;
    background: rgba(255, 255, 255, 0.8) !important;
    left: 0;
    right: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100vw;
    margin-top: 1rem;
    background-color: #ffffff;
    box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
  }
  @media (max-width: 992px) {
    .cid-u76D6GfvJg  .container {
      padding-right: 2rem;
    }
  }
  @media (max-width: 767px) {
    .cid-u76D6GfvJg  .container {
      width: 95%;
      height: 56px !important;
      padding-right: 1rem;
      margin-top: 0rem;
    }
  }
  .cid-u76D6GfvJg  .iconfont-wrapper {
    color: #000000 !important;
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }
  .cid-u76D6GfvJg  .dropdown-menu {
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    padding: 12px 4px !important;
    border-radius: 1.5rem;
    transition: 0.3s all !important;
    min-width: auto;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.8) !important;
  }
  .cid-u76D6GfvJg  .nav-item:focus,
  .cid-u76D6GfvJg  .nav-link:focus {
    outline: none;
  }
  .cid-u76D6GfvJg  .dropdown .dropdown-menu .dropdown-item {
    width: auto;
    transition: all 0.25s ease-in-out;
  }
  .cid-u76D6GfvJg  .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
  }
  .cid-u76D6GfvJg  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
    margin-right: 0.5rem;
    vertical-align: sub;
  }
  .cid-u76D6GfvJg  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
    display: inline-block;
    transform: scale(1, 1);
    transition: all 0.25s ease-in-out;
  }
  .cid-u76D6GfvJg  .collapsed .dropdown-menu .dropdown-item:before {
    display: none;
  }
  .cid-u76D6GfvJg  .collapsed .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
  .cid-u76D6GfvJg  .navbar {
    min-height: 90px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    background: transparent !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  .cid-u76D6GfvJg  .navbar.opened {
    transition: all 0.3s;
  }
  .cid-u76D6GfvJg  .navbar .dropdown-item {
    padding: 0.5rem 1.8rem;
  }
  .cid-u76D6GfvJg  .navbar .navbar-logo img {
    min-width: 6rem;
    object-fit: cover;
  }
  .cid-u76D6GfvJg  .navbar .navbar-collapse {
    z-index: 1;
    justify-content: flex-end;
  }
  .cid-u76D6GfvJg  .navbar.collapsed {
    justify-content: center;
  }
  .cid-u76D6GfvJg  .navbar.collapsed .nav-item .nav-link::before {
    display: none;
  }
  .cid-u76D6GfvJg  .navbar.collapsed.opened .dropdown-menu {
    top: 0;
  }
  @media (min-width: 992px) {
    .cid-u76D6GfvJg  .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
      max-height: calc(98.5vh - 3rem);
    }
  }
  .cid-u76D6GfvJg  .navbar.collapsed .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-u76D6GfvJg  .navbar.collapsed .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-u76D6GfvJg  .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 41%;
  }
  .cid-u76D6GfvJg  .navbar.collapsed ul.navbar-nav li {
    margin: auto;
  }
  .cid-u76D6GfvJg  .navbar.collapsed .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
  }
  .cid-u76D6GfvJg  .navbar.collapsed .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  @media (max-width: 767px) {
    .cid-u76D6GfvJg  .navbar {
      min-height: 72px;
    }
    .cid-u76D6GfvJg  .navbar .navbar-logo img {
      height: 2.5rem !important;
      min-width: 2.5rem !important;
    }
  }
  @media (max-width: 991px) {
    .cid-u76D6GfvJg  .navbar .nav-item .nav-link::before {
      display: none;
    }
    .cid-u76D6GfvJg  .navbar.opened .dropdown-menu {
      top: 0;
    }
    .cid-u76D6GfvJg  .navbar .dropdown-menu .dropdown-submenu {
      left: 0 !important;
    }
    .cid-u76D6GfvJg  .navbar .dropdown-menu .dropdown-item:after {
      right: auto;
    }
    .cid-u76D6GfvJg  .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
      margin-left: 0.5rem;
      margin-top: 0.2rem;
      border-top: 0.35em solid;
      border-right: 0.35em solid transparent;
      border-left: 0.35em solid transparent;
      border-bottom: 0;
      top: 40%;
    }
    .cid-u76D6GfvJg  .navbar .dropdown-menu .dropdown-item {
      padding: 0.25rem 1.5rem !important;
      text-align: center;
    }
    .cid-u76D6GfvJg  .navbar .navbar-brand {
      flex-shrink: initial;
      flex-basis: auto;
      word-break: break-word;
      padding-right: 10px;
    }
    .cid-u76D6GfvJg  .navbar .navbar-toggler {
      flex-basis: auto;
    }
    .cid-u76D6GfvJg  .navbar .icons-menu {
      padding-left: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  .cid-u76D6GfvJg  .navbar.navbar-short .navbar-logo img {
    height: 2rem;
  }
  .cid-u76D6GfvJg  .dropdown-item.active,
  .cid-u76D6GfvJg  .dropdown-item:active {
    background-color: transparent;
  }
  .cid-u76D6GfvJg  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }
  .cid-u76D6GfvJg  .nav-dropdown .link.dropdown-toggle {
    margin-right: 1.667em;
  }
  .cid-u76D6GfvJg  .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.667em;
  }
  .cid-u76D6GfvJg  .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    background: #ffffff;
  }
  .cid-u76D6GfvJg  .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
    left: 105%;
    transform: none;
    top: -12px;
  }
  .cid-u76D6GfvJg  .navbar .dropdown.open > .dropdown-menu {
    display: flex;
  }
  .cid-u76D6GfvJg  ul.navbar-nav {
    flex-wrap: wrap;
  }
  .cid-u76D6GfvJg  .navbar-buttons {
    text-align: center;
    min-width: 140px;
  }
  @media (max-width: 992px) {
    .cid-u76D6GfvJg  .navbar-buttons {
      text-align: left;
    }
  }
  .cid-u76D6GfvJg  button.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-u76D6GfvJg  button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #000000;
  }
  .cid-u76D6GfvJg  button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all 0.2s;
  }
  .cid-u76D6GfvJg  button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all 0.15s;
  }
  .cid-u76D6GfvJg  button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all 0.15s;
  }
  .cid-u76D6GfvJg  button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all 0.2s;
  }
  .cid-u76D6GfvJg  nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }
  .cid-u76D6GfvJg  nav.opened .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.25s;
  }
  .cid-u76D6GfvJg  nav.opened .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 0.25s;
  }
  .cid-u76D6GfvJg  nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }
  .cid-u76D6GfvJg  .navbar-dropdown {
    padding: 0 1rem;
  }
  .cid-u76D6GfvJg  a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cid-u76D6GfvJg  .icons-menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    text-align: center;
  }
  @media (max-width: 992px) {
    .cid-u76D6GfvJg  .icons-menu {
      justify-content: flex-start;
      margin-bottom: 0.5rem;
    }
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cid-u76D6GfvJg  .navbar {
      height: 70px;
    }
    .cid-u76D6GfvJg  .navbar.opened {
      height: auto;
    }
    .cid-u76D6GfvJg  .nav-item .nav-link:hover::before {
      width: 175%;
      max-width: calc(100% + 2rem);
      left: -1rem;
    }
  }
  .cid-u76D6GfvJg  .navbar .dropdown > .dropdown-menu {
    display: none;
    width: max-content;
    max-width: 500px !important;
    transform: translateX(-50%);
    top: calc(100% + 20px);
    left: 50%;
  }
  .cid-u76D6GfvJg  .navbar .dropdown > .dropdown-menu .dropdown-item {
    line-height: 1 !important;
  }
  .cid-u76D6GfvJg  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-u76D6GfvJg  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(-90deg);
  }
  .cid-u76D6GfvJg  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(0deg);
  }
  .cid-u76D6GfvJg  .mbr-section-btn {
    margin: -0.6rem -0.6rem;
  }
  .cid-u76D6GfvJg  .navbar-toggler {
    margin-left: 12px;
    margin-right: 8px;
    order: 1000;
  }
  @media (max-width: 991px) {
    .cid-u76D6GfvJg  .navbar-brand {
      margin-right: auto;
    }
    .cid-u76D6GfvJg  .navbar-collapse {
      z-index: -1 !important;
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      padding: 1rem;
      border-radius: 1.5rem;
      background: #ffffff;
      opacity: 1;
      border-color: rgba(255, 255, 255, 0.8) !important;
      background: rgba(255, 255, 255, 0.8) !important;
      backdrop-filter: blur(8px);
    }
    .cid-u76D6GfvJg  .navbar-nav .nav-item .nav-link::after {
      margin-left: 10px;
    }
    .cid-u76D6GfvJg  .navbar-nav .dropdown-item:hover {
      background-color: rgba(27, 31, 10, 0.06);
    }
    .cid-u76D6GfvJg  .navbar .dropdown > .dropdown-menu {
      max-width: 100% !important;
      transform: translateX(0);
      top: 10px;
      left: 0;
      padding: 8px !important;
      border-radius: 1rem;
      background-color: rgba(27, 31, 10, 0.04) !important;
    }
    .cid-u76D6GfvJg  .navbar .dropdown > .dropdown-menu .dropdown-item {
      padding: 8px !important;
      line-height: 1 !important;
      margin-bottom: 4px !important;
    }
    .cid-u76D6GfvJg  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
      align-items: center;
      display: flex;
      height: max-content !important;
      min-height: max-content !important;
    }
    .cid-u76D6GfvJg  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
      display: inline-block;
      position: static;
      margin-left: 0.5rem;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      transition: 0.3s all;
      transform: rotate(0deg);
    }
    .cid-u76D6GfvJg  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
      transform: rotate(180deg);
    }
    .cid-u76D6GfvJg  .navbar .dropdown > .dropdown-menu .dropdown-submenu {
      position: static;
      width: 100%;
      max-width: 100% !important;
      transform: translateX(0) !important;
      top: 0;
      left: 0;
      padding: 8px !important;
      border-radius: 1rem;
      background-color: rgba(27, 31, 10, 0.04) !important;
    }
    .cid-u76D6GfvJg  .navbar .dropdown.open > .dropdown-menu {
      display: flex !important;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  @media (max-width: 575px) {
    .cid-u76D6GfvJg  .navbar-collapse {
      padding: 1rem;
    }
  }
  .cid-u76D6GfPy6 {
    display: flex;
  }
  @media (min-width: 768px) {
    .cid-u76D6GfPy6 {
      align-items: flex-end;
    }
    .cid-u76D6GfPy6 .row {
      justify-content: flex-start;
    }
    .cid-u76D6GfPy6 .content-wrap {
      padding: 1rem 3rem;
    }
  }
  @media (max-width: 991px) and (min-width: 768px) {
    .cid-u76D6GfPy6 .content-wrap {
      min-width: 50%;
    }
  }
  @media (max-width: 767px) {
    .cid-u76D6GfPy6 {
      -webkit-align-items: center;
      align-items: flex-end;
    }
    .cid-u76D6GfPy6 .mbr-row {
      -webkit-justify-content: center;
      justify-content: center;
    }
    .cid-u76D6GfPy6 .content-wrap {
      width: 100%;
    }
  }
  .cid-u76D6GfPy6 .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76D6GfPy6 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #000000;
  }
  .cid-u76D6GfPy6 .mbr-section-title,
  .cid-u76D6GfPy6 .mbr-section-subtitle {
    text-align: left;
    color: var(--dominant-color, #ffc091);
  }
  .cid-u76D6GfPy6 .mbr-text,
  .cid-u76D6GfPy6 .mbr-section-btn {
    text-align: left;
  }
  .cid-u76D6GfNW1 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-u76D6GfNW1 .item:focus,
  .cid-u76D6GfNW1 span:focus {
    outline: none;
  }
  .cid-u76D6GfNW1 .item {
    cursor: pointer;
  }
  .cid-u76D6GfNW1 .grid-container {
    grid-row-gap: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76D6GfNW1 .grid-container {
      grid-row-gap: 1rem;
    }
  }
  .cid-u76D6GfNW1 .grid-container-1,
  .cid-u76D6GfNW1 .grid-container-2,
  .cid-u76D6GfNW1 .grid-container-3 {
    gap: 0 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76D6GfNW1 .grid-container-1,
    .cid-u76D6GfNW1 .grid-container-2,
    .cid-u76D6GfNW1 .grid-container-3 {
      gap: 0 1rem;
    }
  }
  .cid-u76D6GfNW1 .mbr-section-title {
    color: #000000;
  }
  .cid-u76D6GfNW1 .mbr-text,
  .cid-u76D6GfNW1 .mbr-section-btn {
    color: #000000;
  }
  .cid-u76D6GfNW1 .content-head {
    max-width: 800px;
  }
  .cid-u76D6GfNW1 .container,
  .cid-u76D6GfNW1 .container-fluid {
    overflow: hidden;
  }
  .cid-u76D6GfNW1 .grid-container {
    display: grid;
    transform: translate3d(-3rem, 0, 0);
    width: 115vw;
    grid-column-gap: 1rem;
  }
  .cid-u76D6GfNW1 .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cid-u76D6GfNW1 .grid-item img {
    min-width: 30vw;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  @media (max-width: 767px) {
    .cid-u76D6GfNW1 .grid-item img {
      min-width: 35vw;
    }
  }
  .cid-u76D6GfNW1 .grid-container-1,
  .cid-u76D6GfNW1 .grid-container-2,
  .cid-u76D6GfNW1 .grid-container-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
  .cid-u76D6GfNW1 .grid-container-1 {
    align-items: flex-end;
  }
  .cid-u76D6GfNW1 .grid-container-2 {
    align-items: flex-start;
  }
  .cid-u76D6GfSIP {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-u76D6GfSIP .item-subtitle {
    line-height: 1.2;
    color: #000000;
  }
  .cid-u76D6GfSIP img,
  .cid-u76D6GfSIP .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
  }
  .cid-u76D6GfSIP .item:focus,
  .cid-u76D6GfSIP span:focus {
    outline: none;
  }
  .cid-u76D6GfSIP .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76D6GfSIP .item {
      margin-bottom: 1rem;
    }
  }
  .cid-u76D6GfSIP .item-wrapper {
    position: relative;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  
  .cid-u76D6GfSIP .mbr-section-title {
    color: #232323;
  }
  .cid-u76D6GfSIP .mbr-text,
  .cid-u76D6GfSIP .mbr-section-btn {
    color: #232323;
  }
  .cid-u76D6GfSIP .item-title {
    color: #232323;
  }
  .cid-u76D6GfSIP .content-head {
    max-width: 800px;
  }
  .cid-u76D6GfYdC .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76D6GfYdC .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #000000;
  }
  .cid-u76D6Gg9qv {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: transparent;
  }
  .cid-u76D6Gg9qv .mbr-text {
    color: #000000;
  }
  .cid-u76D6Gg9qv .mbr-section-subtitle {
    color: #000000;
  }
  .cid-u76D6Gg9qv .mbr-section-title {
    color: #000000;
    text-align: center;
  }
  .cid-u76D6Gg9qv .mbr-text,
  .cid-u76D6Gg9qv .item .mbr-section-btn {
    text-align: left;
  }
  .cid-u76D6Gg9qv .item-wrapper {
    background: #ffffff;
    margin-bottom: 2rem;
    padding: 2.25rem;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u76D6Gg9qv .item-wrapper {
      padding: 2rem 1.5rem;
      margin-bottom: 2rem;
    }
  }
  @media (max-width: 767px) {
    .cid-u76D6Gg9qv .item-wrapper {
      padding: 2rem 1.5rem;
      margin-bottom: 1rem;
    }
  }
  .cid-u76D6GgV4e {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
  }
  .cid-u76D6GgV4e .item-subtitle {
    line-height: 1.2;
    color: #000000;
    text-align: center;
  }
  .cid-u76D6GgV4e img,
  .cid-u76D6GgV4e .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
  }
  .cid-u76D6GgV4e .item:focus,
  .cid-u76D6GgV4e span:focus {
    outline: none;
  }
  .cid-u76D6GgV4e .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76D6GgV4e .item {
      margin-bottom: 1rem;
    }
  }
  .cid-u76D6GgV4e .item-wrapper {
    position: relative;
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
  }
  .cid-u76D6GgV4e .mbr-section-btn {
    margin-top: auto !important;
  }
  .cid-u76D6GgV4e .mbr-section-title {
    color: #000000;
  }
  .cid-u76D6GgV4e .mbr-text,
  .cid-u76D6GgV4e .mbr-section-btn {
    color: #000000;
    text-align: center;
  }
  .cid-u76D6GgV4e .item-title {
    color: #000000;
  }
  .cid-u76D6GgV4e .content-head {
    max-width: 800px;
  }
  .cid-u76D6GgaWd {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
  }
  .cid-u76D6GgaWd .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76D6GgaWd .item-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .cid-u76D6GgaWd .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u76D6GgaWd .mbr-iconfont {
    display: inline-flex;
    font-size: 2rem;
    color: var(--primary-color, #d70081);
    width: 80px;
    justify-content: center;
    align-items: center;
    background: #ffd7ef;
    height: 80px;
    border-radius: 50%;
  }
  .cid-u76D6GgaWd .card-title,
  .cid-u76D6GgaWd .iconfont-wrapper{
    color: var(--primary-color, #d70081);
    text-align: center;
  }
  .cid-u76D6GgaWd .card-text {
    color: #000000;
    text-align: center;
  }
  .cid-u76D6GgaWd .content-head {
    max-width: 800px;
  }
  .cid-u76D6GgaWd .mbr-section-title {
    color: #000000;
  }
  .cid-u76D6Gg15a {
    padding-top: 6rem;
    padding-bottom: 4rem;
    background-color: transparent;
  }
  @media (max-width: 767px) {
    .cid-u76D6Gg15a {
      padding-bottom: 5rem;
    }
  }
  .cid-u76D6Gg15a img,
  .cid-u76D6Gg15a .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
  }
  @media (max-width: 1200px) {
    .cid-u76D6Gg15a img,
    .cid-u76D6Gg15a .item-img {
      height: 300px;
      object-fit: cover;
    }
  }
  .cid-u76D6Gg15a .mbr-text {
    color: #000000;
  }
  .cid-u76D6Gg15a .mbr-section-subtitle {
    color: #ffffff;
    text-align: left;
  }
  .cid-u76D6Gg15a .main-button {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76D6Gg15a .main-button {
      margin-bottom: 2rem;
    }
  }
  .cid-u76D6Gg15a .mbr-text UL {
    text-align: left;
  }
  .cid-u76D6Gg15a .mbr-section-subtitle,
  .cid-u76D6Gg15a .main-button {
    color: #000000;
  }
  .cid-u76D6Gg15a .side-features {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
  }
  .cid-u76D6Gg15a .side-features .item {
    padding-left: 16px;
    padding-right: 16px;
  }
  .cid-u76D6Gg15a .item-wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76D6Gg15a .item-wrapper {
      margin-bottom: 1rem;
    }
  }
  .cid-u76D6Gg15a .item-title {
    text-align: center;
  }
  .cid-u76D6Gg15a .item-subtitle {
    text-align: center;
  }
  @media (min-width: 992px) {
    .cid-u76D6Gg15a .main-text {
      padding-left: 0;
      padding-right: 32px;
    }
  }
  .cid-u76D6GhAFH {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: transparent;
  }
  .cid-u76D6GhAFH .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76D6GhAFH .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  @media (max-width: 767px) {
    .cid-u76D6GhAFH .image-wrapper {
      flex-direction: column;
    }
    .cid-u76D6GhAFH .image-wrapper img {
      margin: auto;
      margin-bottom: 1rem;
    }
  }
  .cid-u76D6GhAFH .card-box {
    max-width: 750px;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: 0;
  }
  .cid-u76D6GhAFH img,
  .cid-u76D6GhAFH .item-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .cid-u76D6GhAFH .card-wrapper {
    background: #ffffff;
  }
  .cid-u76D6GhAFH .mbr-text,
  .cid-u76D6GhAFH .mbr-section-btn {
    color: #000000;
  }
  .cid-u76D6GhAFH .card-title,
  .cid-u76D6GhAFH .card-box {
    color: #232323;
  }
  @media (max-width: 767px) {
    .cid-u76D6GhAFH .card-content-text {
      padding: 2rem 1.5rem;
      margin-bottom: 1rem;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .cid-u76D6GhAFH .card-content-text {
      padding: 2.25rem;
    }
  }
  @media (min-width: 992px) {
    .cid-u76D6GhAFH .card-content-text {
      padding: 4rem;
    }
  }
  .cid-u76D6GhCcM {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }
  .cid-u76D6GhCcM .item-wrapper img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50% !important;
  }
  .cid-u76D6GhCcM .item-wrapper {
    background: #ffffff;
    margin-bottom: 2rem;
    padding: 2.25rem;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u76D6GhCcM .item-wrapper {
      padding: 1.5rem;
      margin-bottom: 2rem;
    }
  }
  @media (max-width: 767px) {
    .cid-u76D6GhCcM .item-wrapper {
      padding: 1.5rem;
      margin-bottom: 1rem;
    }
  }
  .cid-u76D6GhCcM .card-title,
  .cid-u76D6GhCcM .iconfont-wrapper {
    color: #000000;
  }
  .cid-u76D6GhCcM .card-text {
    color: #000000;
    text-align: left;
  }
  .cid-u76D6GhCcM .content-head {
    max-width: 800px;
  }
  .cid-u76D6GhCcM .mbr-section-title {
    color: #000000;
  }
  .cid-u76D6GhCcM .card-title,
  .cid-u76D6GhCcM .img-wrapper {
    text-align: center;
  }
  .cid-u76D6GhCcM .img-wrapper {
    display: flex;
    justify-content: center;
  }
  .cid-u76D6Gh3Js {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
  }
  .cid-u76D6Gh3Js .item-subtitle {
    line-height: 1.2;
    color: #000000;
  }
  .cid-u76D6Gh3Js img,
  .cid-u76D6Gh3Js .item-img {
    width: 100%;
  }
  .cid-u76D6Gh3Js .item:focus,
  .cid-u76D6Gh3Js span:focus {
    outline: none;
  }
  .cid-u76D6Gh3Js .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 575px) {
    .cid-u76D6Gh3Js .item {
      margin-bottom: 1rem;
    }
  }
  .cid-u76D6Gh3Js .item-wrapper {
    position: relative;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  .cid-u76D6Gh3Js .mbr-section-title {
    color: #000000;
  }
  .cid-u76D6Gh3Js .mbr-text,
  .cid-u76D6Gh3Js .mbr-section-btn {
    color: #000000;
  }
  .cid-u76D6Gh3Js .item-title {
    color: #000000;
    text-align: center;
  }
  .cid-u76D6Gh3Js .content-head {
    max-width: 800px;
  }
  .cid-u76D6Gh3Js img {
    filter: grayscale(1);
  }
  .cid-u76D6GiuJU {
    padding-top: 5rem;
    padding-bottom: 4rem;
    background-color: transparent;
  }

  .cid-u76D6GiuJU .item-mb {
    margin-bottom: 2rem;
  }

  @media (max-width: 767px) {
    .cid-u76D6GiuJU .item-mb {
      margin-bottom: 1rem;
    }
  }

  .cid-u76D6GiuJU .item-head {
    background: var(--primary-color, #9fe870);
    padding: 2.25rem;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u76D6GiuJU .item-head {
      padding: 2rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u76D6GiuJU .item-head {
      padding: 2rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .cid-u76D6GiuJU .item-content {
    padding: 2.25rem 2.25rem 0;
    background: #ffffff;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u76D6GiuJU .item-content {
      padding: 0rem 1.5rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u76D6GiuJU .item-content {
      padding: 0rem 1.5rem;
    }
  }

  .cid-u76D6GiuJU .item-wrapper {
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 2rem;
    background: #ffffff;
    padding: 0rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  @media (max-width: 767px) {
    .cid-u76D6GiuJU .item-wrapper {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u76D6GiuJU .item-wrapper .item-footer {
      padding: 0 1.5rem 2rem;
    }
  }

  @media (min-width: 1201px) {
    .cid-u76D6GiuJU .item-wrapper .item-footer {
      padding: 0 2rem 2rem;
    }
  }

  .cid-u76D6GiuJU .btn {
    width: -webkit-fill-available;
  }

  .cid-u76D6GiuJU .item:focus,
  .cid-u76D6GiuJU span:focus {
    outline: none;
  }

  .cid-u76D6GiuJU .mbr-section-btn {
    margin-top: auto !important;
    padding: 2rem 2rem 0;
  }

  @media (max-width: 991px) {
    .cid-u76D6GiuJU .mbr-section-btn {
      padding: 0rem 2.25rem 2rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u76D6GiuJU .mbr-section-btn {
      padding: 0rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .cid-u76D6GiuJU .mbr-section-title {
    color: #000000;
  }

  .cid-u76D6GiuJU .mbr-section-subtitle {
    color: #ffffff;
  }

  .cid-u76D6GiuJU .mbr-text,
  .cid-u76D6GiuJU .mbr-section-btn {
    text-align: left;
  }

  .cid-u76D6GiuJU .item-title {
    text-align: left;
    color: var(--primary-text, #ffffff);
  }

  .cid-u76D6GiuJU .item-subtitle {
    text-align: left;
    color: var(--primary-text, #ffffff);
  }

  .cid-u76D6GiuJU .content-head {
    max-width: 800px;
  }
  .cid-u76D6GhtJ2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-u76D6GhtJ2 .item:focus,
  .cid-u76D6GhtJ2 span:focus {
    outline: none;
  }
  .cid-u76D6GhtJ2 .container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
  .cid-u76D6GhtJ2 .content-head {
    max-width: 800px;
  }
  .cid-u76D6GhtJ2 .item {
    color: #232323;
    min-height: 90px;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .cid-u76D6GhtJ2 .item {
      min-height: 45px;
    }
  }
  .cid-u76D6Gi0AQ {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-u76D6Gi0AQ .item:focus,
  .cid-u76D6Gi0AQ span:focus {
    outline: none;
  }
  .cid-u76D6Gi0AQ .container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
  .cid-u76D6Gi0AQ .content-head {
    max-width: 800px;
  }
  .cid-u76D6Gi0AQ .item {
    color: #232323;
    min-height: 90px;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .cid-u76D6Gi0AQ .item {
      min-height: 45px;
    }
  }
  .cid-u76D6GiDMm {
    overflow: hidden;
    background-image: url("assets/images/photo-1541665234574-8e72eb7cd028.jpeg");
  }
  .cid-u76D6GiQu3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: var(--dominant-color, #393193);
}

.cid-u76D6GiQu3 .justify-content-center {
    align-items: center;
}

.cid-u76D6GiQu3 .mbr-fallback-image.disabled {
    display: none;
}

.cid-u76D6GiQu3 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-u76D6GiQu3 .item-wrapper {
    display: flex;
    margin-left: auto;
}

@media (max-width: 767px) {
    .cid-u76D6GiQu3 .item-wrapper {
        margin-bottom: 1rem;
    }
}

.cid-u76D6GiQu3 .mbr-section-btn {
    padding-left: 1.5rem;
    text-align: right;
}

@media (max-width: 767px) {
    .cid-u76D6GiQu3 .mbr-section-btn {
        text-align: center;
        padding-left: 0rem;
    }
}

.cid-u76D6GiQu3 .row {
    align-items: center;
}

.cid-u76D6GiQu3 .card-text {
    color: var(--dominant-text, #FFFFFF);
    margin-bottom: 0px;
    text-align: left;
}

@media (max-width: 767px) {
    .cid-u76D6GiQu3 .card-text {
        text-align: center;
    }
}
.cid-u76D6GiFBh {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-u76D6GiFBh .social-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .cid-u76D6GiFBh .social-row .soc-item {
    margin: 8px;
  }
  .cid-u76D6GiFBh .social-row .soc-item a:hover .mbr-iconfont,
  .cid-u76D6GiFBh .social-row .soc-item a:focus .mbr-iconfont {
    background-color: #f7f7f7;
  }
  .cid-u76D6GiFBh .social-row .soc-item a .mbr-iconfont {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 32px;
    background-color: #f7f7f7;
    color: var(--primary-color, #393193);
    transition: all 0.3s ease-in-out;
  }
  .cid-u76D6GiFBh .row-links {
    width: 100%;
    justify-content: center;
  }
  .cid-u76D6GiFBh .mbr-section-title {
    color: #ffffff;
  }
  .cid-u76D6GiFBh .mbr-section-title,
  .cid-u76D6GiFBh .social-list {
    color: #000000;
  }
  .cid-u76D6GiWPI {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }
  .cid-u76D6GiWPI .mbr-overlay {
    background-color: #ffffff;
    opacity: 0.4;
  }
  .cid-u76D6GiWPI form .mbr-section-btn {
    text-align: center;
    width: 100%;
  }
  .cid-u76D6GiWPI form .mbr-section-btn .btn {
    display: inline-flex;
  }
  @media (max-width: 991px) {
    .cid-u76D6GiWPI form .mbr-section-btn .btn {
      width: 100%;
    }
  }
  .cid-u76D6GiWPI .content-head {
    max-width: 800px;
  }
  .cid-u76D6GifbR {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }
  .cid-u76D6GifbR .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76D6GifbR .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u76D6GifbR .row {
    justify-content: center;
  }
  .cid-u76D6GifbR .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u76D6GifbR .item {
      margin-bottom: 1rem;
    }
  }
  .cid-u76D6GifbR .item .item-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #ffffff;
    padding: 2.25rem;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u76D6GifbR .item .item-wrapper {
      padding: 2rem 1.5rem;
    }
  }
  @media (max-width: 767px) {
    .cid-u76D6GifbR .item .item-wrapper {
      padding: 2rem 1.5rem;
    }
  }
  .cid-u76D6GifbR .content-head {
    max-width: 800px;
  }
  .cid-u76D6Gi8zy {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #000000;
  }
  .cid-u76D6Gi8zy .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u76D6Gi8zy .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u76D6Gi8zy .copyright {
    color: #ffffff;
    text-align: left;
  }
  .cid-u76D6Gi8zy .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .cid-u76D6Gi8zy .row {
      flex-direction: column-reverse !important;
    }
    .cid-u76D6Gi8zy .row .copyright {
      margin: 1rem 0 0 0;
    }
  }
  .cid-u76D6Gi8zy .row-links {
    width: 100%;
    justify-content: center;
  }
  .cid-u76D6Gi8zy .row-links .row-links-soc {
    list-style: none;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
  }
  @media (max-width: 991px) {
    .cid-u76D6Gi8zy .row-links .row-links-soc {
      justify-content: center;
    }
  }
  .cid-u76D6Gi8zy .row-links .row-links-soc li {
    padding: 0 1rem 0rem 1rem;
  }
  @media (max-width: 767px) {
    .cid-u76D6Gi8zy .row-links .row-links-soc li {
      padding: 0 1rem 1rem 1rem;
    }
  }
  .cid-u76D6Gi8zy .row-links .row-links-soc li p {
    margin: 0;
  }
  @media (max-width: 991px) {
    .cid-u76D6Gi8zy .copyright {
      text-align: center;
    }
  }
  :root{ --background: #FDEBED; --dominant-color: #E63946; --primary-color: #1D3557; --secondary-color: #A8DADC; --success-color: #20AC6B; --danger-color: #AE1E2C; --warning-color: #CC9900; --info-color: #0AA3C2; --background-text: #000000; --dominant-text: #FFFFFF; --primary-text: #FFFFFF; --secondary-text: #000000; --success-text: #FFFFFF; --danger-text: #FFFFFF; --warning-text: #000000; --info-text: #FFFFFF;}