{% extends 'base2.html.twig' %}

{% block title %}Modifier la réclamation{% endblock %}

{% block body %}
    <h1>Modifier la réclamation</h1>

    {{ include('reclamation/_formBack.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_reclamation_indexBack') }}">Retour à la liste</a>

    {{ include('reclamation/_delete_formBack.html.twig') }}
{% endblock %}
