{% extends 'base2.html.twig' %}

{% block title %}Statistiques des réclamations{% endblock %}

{% block body %}
    <h1>Statistiques des réclamations</h1>
   
    <h2>Statistiques par statut</h2>
    <ul>
        {% for statut, count in statistiques.statistiquesParStatut %}
            <li>{{ statut }}: {{ count }}</li>
        {% else %}
            <li>Aucune statistique disponible</li>
        {% endfor %}
    </ul>

    <h2>Statistiques par type de réclamation</h2>
    <ul>
        {% for type, count in statistiques.statistiquesParType %}
            <li>{{ type }}: {{ count }}</li>
        {% else %}
            <li>Aucune statistique disponible</li>
        {% endfor %}
    </ul>
{% endblock %}
