{% extends 'base2.html.twig' %}

{% block title %}Edit Oeuvre{% endblock %}



{% block editoeuvre %}

  <div class="d-flex justify-content-end mb-3">
        <a href="{{ path('app_oeuvre_index') }}" class="btn btn-block btn-lg btn-gradient-primary">RETOUR</a>
    </div> 

    <h1>Edit Oeuvre</h1>

    {{ include('oeuvre/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
