
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .carousel-item img {
            max-height: 400px; /* Ajustez cette valeur selon vos besoins */
            width: auto; /* Permet aux images de redimensionner proportionnellement */
            object-fit: contain; /* Cette propriété permet de conserver les proportions de l'image */
        }
    </style>
{% endblock %}


{% block affichageoeuvreclient %}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for oeuvre in oeuvres %}
      <div class="carousel-item {% if loop.first %}active{% endif %}">
        <img src="{{ path('user_images', {'imageName': oeuvre.image}) }}" class="d-block w-100" alt="{{ oeuvre.nomOeuvre }}">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ oeuvre.nomOeuvre }}</h5>
         
        </div>
      </div>
    {% endfor %}
  </div>

</div>



{% endblock %}


