

{% block stat1 %}
<div class="container">
    <canvas id="expositionsChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('expositionsChart').getContext('2d');
    var expositionsChart = new Chart(ctx, {
        type: 'doughnut', // ou 'pie'
        data: {
            labels: [
                {% for item in topExpositions %}
                    "{{ item.exposition_nom }}",
                {% endfor %}
            ],
            datasets: [{
                label: 'Nombre de réservations',
                data: [
                    {% for item in topExpositions %}
                        {{ item.reservationsCount }},
                    {% endfor %}
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            aspectRatio: 1, // Pour s'assurer que le graphique est un cercle
        }
    });
</script>

{% endblock %}
